@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


.gluten {
  font-family: "Gluten", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:"slnt" 0;
}

/* Fond dégradé et tramé */
body {
  background: 
    radial-gradient(circle, rgba(255, 255, 255, 0.15) 30%, transparent 21%) repeat,
    linear-gradient(355deg, #f57f17, #fbc02d);
  background-size: 30px 30px, 100% 100%;
}

/* Test points en diagonale */
/* body {
  background:
    radial-gradient(circle, rgba(255,255,255,0.15) 20%, transparent 21%) 0 0 / 60px 60px repeat,
    radial-gradient(circle, rgba(255,255,255,0.15) 20%, transparent 21%) 30px 30px / 60px 60px repeat,
    linear-gradient(135deg, #f57f17, #fbc02d);
} */



